* { margin: 0; padding: 0; }
p { margin: 5px 0 10px 0; }

.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.part-logo {
font-family: 'Myriad Pro';
color:  #4bcaff;
font-size: 80px;
font-weight: 400;
}

.logo {
    font-family: 'Myriad Pro';
color:  #000000;
font-size: 80px;
font-weight: 400;
text-align: center;
text-decoration: none;
padding-top: 60px;
}

.navbar {
    background-color:  #35444f;
    width: 1280px;
    height: 69px;
    display: inline-block;
    padding: auto 200px;
}

.navbar-item {
    display: inline-block;
}
